<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Holy Chat</title>
</head>
<body>
    <label for="message-body">Сообщение: </label>
    <input id="message-body" type="text">
    <button onclick="buttonClick()">Send</button>
    <ul id="messages"></ul>

    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.7.4.3.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script defer>
        let pubnub = new PubNub({
            publishKey:   "pub-c-78f8aeaf-c800-4522-a006-df4b63f56915",
            subscribeKey: "sub-c-fcf7a377-4aed-450e-a840-5a9aae9969d8",
            userId:       "myUniqueUserId"
        });

        pubnub.subscribe({channels: ["from_server"]});

        pubnub.addListener({
            status:  (statusEvent) => {
                if (statusEvent.category === "PNConnectedCategory") {
                    console.log("Connected");
                }
            },
            message: (messageEvent) => {
                showMessage(messageEvent.message);
            }
        });

        function buttonClick() {
            let input = document.getElementById('message-body');
            publishMessage(input.value);
            input.value = '';
        }

        function showMessage(msg) {
            let message = document.createElement('li');
            message.innerText = msg;
            document.getElementById('messages').appendChild(message);
        }

        function publishMessage(message) {
            pubnub.publish({
                channel: "to_server",
                message: message
            }).then(r => console.log(r));
        }

    </script>
</body>
</html>
