<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Holy Chat</title>
</head>
<body>
    <label for="message-body">Сообщение: </label>
    <input id="message-body" type="text">
    <button onclick="buttonClick()">Send</button>
    <ul id="messages"></ul>

    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.7.4.3.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script src="/static/communication.js"></script>
    <script defer>
        pubnub.subscribe({channels: ["chat"]});

        pubnub.addListener({
            status:  (statusEvent) => {
                if (statusEvent.category === "PNConnectedCategory") {
                    console.log("Connected");
                }
            },
            message: (messageEvent) => {
                showMessage(messageEvent.message);
            },
        });

        function buttonClick() {
            let input = document.getElementById("message-body");
            send_to_server("chat", input.value);
            input.value = "";
        }

        function showMessage(msg) {
            let message = document.createElement("li");
            message.innerText = msg;
            document.getElementById("messages").appendChild(message);
        }

    </script>
</body>
</html>
