<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>babu</title>
</head>
<body>
    <input type="text" id="inp">
    <button id="sender">send</button>
    <ul id="messages"></ul>

    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script>

        const pusher = new Pusher("96a6c5bc9ce712f90ddb", {
            cluster: "eu",
        });

        const channel = pusher.subscribe("index-ch");

        let msg = document.getElementById("messages");

        channel.bind("message", function (data) {
            msg.insertAdjacentHTML("beforeend",
            `<li>${JSON.stringify(data)}</li>`
            );
        });


        $("#sender").on("click", () => {
            channel.trigger("client-send", $("#inp").val());
        });

    </script>
</body>
</html>
